.page-list {
    width: var(--admin-default-width);
    margin-bottom: 25px;
    height: 65vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.page-holder {
    width: auto;
    background-color: var(--admin-white-accent);
    background: #F2FDFF;
    box-shadow: 2px 4px 15px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 35px 10px 35px 10px;
    padding: 2%;
    column-gap: 2%;
}
