<div *ngIf="loaded; else loading">
  <div *ngIf="user as user; else NotEditor">
    <app-tursas-header></app-tursas-header>
    <div class="rasti-admin-container">
      <div class="team-search-inputs">
        <button style="border-radius: 10px 0px 0px 10px;" class="main-button search-button red-button"
          (click)="clearSearchField()">
          <svg style="height: 80%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 259.3 259.3">
            <defs>
              <style>
                .cls-1 {
                  fill: #f2fdff;
                }
              </style>
            </defs>
            <title>X-icon</title>
            <g id="Layer_2" data-name="Layer 2">
              <g id="tursas">
                <path class="cls-1"
                  d="M257,226.58l-96.92-96.93L256.76,33a8.24,8.24,0,0,0,0-11.66L238,2.54a8.26,8.26,0,0,0-11.66,0l-96.7,96.71L32.73,2.32a8,8,0,0,0-11.22,0L2.32,21.51a8,8,0,0,0,0,11.22l96.93,96.92L2.54,226.35a8.26,8.26,0,0,0,0,11.66l18.75,18.75a8.24,8.24,0,0,0,11.66,0l96.7-96.7L226.58,257a7.92,7.92,0,0,0,11.21,0L257,237.79A7.92,7.92,0,0,0,257,226.58Z" />
              </g>
            </g>
          </svg>
        </button>
        <input class="search-input" type="number" placeholder="Tiimi tunnus" [(ngModel)]="searchId">
        <button style="border-radius: 0px 10px 10px 0px;" class="main-button search-button" (click)="searchTeam()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 333.45 270.29">
            <defs>
              <style>
                .cls-1 {
                  fill: #f2fdff;
                }
              </style>
            </defs>
            <title>search-icon</title>
            <g id="Layer_2" data-name="Layer 2">
              <g id="tursas">
                <path class="cls-1"
                  d="M333.45,239.7l-112.4-74.45a116.16,116.16,0,1,0-20.66,30.33l112.79,74.71ZM115.5,202A85.5,85.5,0,1,1,201,116.5,85.5,85.5,0,0,1,115.5,202Z" />
              </g>
            </g>
          </svg>
        </button>
      </div>
      <div style="width: 100%; text-align: center;" *ngIf="!compLoading; else loading">
        <div class="team-info-holder" *ngIf="teamToEdit;else noTeam">
          <h4>{{teamToEdit.name}}</h4>
          <div class="fuksi-status-holder">
            <div class="fuksi-status-button" [style]="{'background':teamToEdit.fuksiStatus?'#16A3BA':'#0C5F6D'}">
              <p class="tiny-text">{{teamToEdit.fuksiStatus ? 'Fuksi joukkue':'Vanhoja opiskelijoita'}}</p>
            </div>
            <div class="fuksi-status-change-button" (click)="showFuksiStatus()">
              <p class="tiny-text">Päivitä fuksi status</p>
            </div>
          </div>
          <div class="bar-card" *ngFor="let bar of teamToEdit.bars;let i = index"
            [style]="{'background':bar.score == 0 ? 'var(--admin-disabled-color)':'var(--frontend-background-color-darker)','border':bar.adminEmail == email && bar.score == 0 ? '10px solid skyblue':'none'}">
            <h4>{{bar.name}}</h4>
            <div style="display: flex; justify-content: center; align-items: center;">
              <div class="score-holder">
                <p class="tiny-text"><span style="font-size: 26px;">{{bar.score}}</span><br>/120</p>
              </div>
              <button *ngIf="bar.adminEmail == email" style="margin-left: 30px; width: auto;" class="main-fixed-button"
                (click)="showAddPoints(bar,i)">Lisää
                Pisteet</button>
            </div>
          </div>
          <div class="bar-card"
            [style]="{'background':teamToEdit.bonusBar == undefined ? 'var(--admin-disabled-color)':'var(--frontend-background-color-darker)','border':teamToEdit.bonusBar  && teamToEdit.bonusBar.score == 0 ? '10px solid skyblue':'none'}">
            <h4>Bonus baari</h4>
            <div style="display: flex; justify-content: center; align-items: center;">
              <div class="score-holder">
                <p class="tiny-text"><span style="font-size: 26px;">{{teamToEdit.bonusBar && teamToEdit.bonusBar.score
                    ? teamToEdit.bonusBar.score : 0}}</span><br>/120
                </p>
              </div>
              <button (click)="showAddPoints()"
                *ngIf="teamToEdit.bonusBar == undefined && !adminEmailInsideBarsArray || teamToEdit.bonusBar && teamToEdit.bonusBar.adminEmail == email && !adminEmailInsideBarsArray"
                style="margin-left: 30px; width: auto;" class="main-fixed-button">Lisää
                Pisteet</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #NotEditor>
    <h3 class="white-text" style="margin-top: 20px; text-align: center;">You have no admin rights!</h3>
  </ng-template>

  <app-fuksi-status *ngIf="activeEvent" [team]="teamToEdit" [eventId]="activeEvent.id">
  </app-fuksi-status>
  <app-add-points [bar]="barToEdit" [barIndex]="barIndex" (PointsEvent)="saveBarScore($event)">

  </app-add-points>
</div>

<ng-template #noTeam>
  <p> Syötä tiimi tunnus hakukenttään</p>
</ng-template>

<ng-template #loading>
  <div style="margin:auto; height: 60%; display:grid; place-items: center;">
    <frontend-loading [size]="200"></frontend-loading>
  </div>
</ng-template>