<div class="overlay-window overlay-hidden" id="add-site">
  <h4 class="weight-400 no-margin" style="margin-bottom: 3vh;">ADD PAGE</h4>
  <form (ngSubmit)="onSubmit()" style="width: 90%;">
    <div class="input-container">
      <div class="inputs">
        <input type="text" name="title" placeholder="Title" (change)="titleUpdate()" [(ngModel)]="site.title"
          style="flex: 5;">
        <div style="flex: 2;"></div>
        <input type="text" name="url" placeholder="Url" [(ngModel)]="site.id" style="flex: 5;">
      </div>
      <div style="display: flex;">
        <label style="flex: 5;" for="title">Title of the site</label>
        <div style="flex: 2;"></div>
        <label style="flex: 5;" for="url">For example "about_us"</label>
      </div>
      <div style="display: grid; place-items: center; margin-top: 3vh;">
        <input type="submit" value="Submit">
      </div>
    </div>
  </form>
</div>
<div id="hide-page-overlay" class="overlay-mask" (click)="hideAddPage()">

</div>