.mailing-container {
    display: grid;
    place-items: center;
}

.mailing-header {
    text-align: center;
    max-width: 70%;
    margin: auto;
}

.input-field {
    width: 100%;
    height: 35px;
    font-size: 18px;
    margin-top: 5px;
    font-family: var(--frontend-regularFontFamily);
}

.clear {
    display: grid;
    place-items: center;
    margin-top: 15px;
}

.mc-field-group {
    text-align: left;
    margin-top: 20px;
}

#mc_embed_signup {
    width: 90%;
}