<div class="header-holder">
  <a href="/news">
    <img class="logo-styling"
      src="https://firebasestorage.googleapis.com/v0/b/longvinter-promo.appspot.com/o/public%2Flibrary_logo_transparent%201.png?alt=media&token=7dac0b17-f9e4-4d9a-af2a-46a161102183"
      alt="Longvinter">
  </a>
  <div class="navigation-menu" (mouseleave)="switchcategory(originalCategory)">
    <a (mouseenter)="switchcategory('news')" href="/"
      [ngClass]="['navigation-button', category=='news' ? 'navigation-hover':'']">
      News
    </a>
    <a (mouseenter)="switchcategory('about')" href="https://store.steampowered.com/app/1635450/Longvinter/"
      [ngClass]="['navigation-button', category=='about' ? 'navigation-hover':'']">
      About
    </a>
    <a (mouseenter)="switchcategory('discord')" href="https://discord.gg/chYmmfMQJG"
      [ngClass]="['navigation-button', category=='discord' ? 'navigation-hover':'']">
      Discord
    </a>
    <a (mouseenter)="switchcategory('store')" href="https://store.steampowered.com/app/1635450/Longvinter/"
      [ngClass]="['navigation-button', category=='store' ? 'navigation-hover':'']">
      Store
    </a>
  </div>
</div>