.header-holder {
    height: clamp(90px, 14vh, 200px);
    width: clamp(325px, 60vw, 900px);
    background: var(--frontend-background-color);
    display: flex;
    justify-content: space-between;
    margin: auto;
    place-items: center;
    padding: 0px 10px;
}

.logo-styling{
    font-size: 30px;
    color: var(--frontend-white-color);
    font-family: var(--frontend-headingFontFamily);
    width: clamp(90px, 16vw, 250px);
    margin-right: 20px;
}

.navigation-menu{
    width: clamp(205px, 60vw, 370px);
    background: var(--frontend-background-transparent);
    aspect-ratio: 5/1;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 5px;
}

.navigation-button{
    padding: clamp(7px, 2vw, 15px);
    border-radius: 10px;
    color: var(--frontend-inactive-color);
    transition: all 0.2s ease;
    font-weight: 300;
    font-size: clamp(13px, 1.5vw, 16px);
    text-decoration: none;
}

.navigation-hover{
    background: var(--frontend-button-color);
    color: var(--frontend-white-color);
    box-shadow: 0px 1px 15px rgba(0, 200, 140, 0.5);
}