<app-tursas-header></app-tursas-header>
<div class="info-container">
  <h1>Tärkeää tietoa</h1>
  <ul style="color: white;font-size:12px;text-align: initial;">
    <li>
      Jokainen ryhmän jäsen hankkii itselleen juotavan kyseisestä baarista ennen rastille siirtymistä
    </li>
    <ul>
      <li>
        Juomaksi kelpaa mikä tahansa alkoholillinen tai alkoholiton juoma
      </li>
    </ul>
    <li>
      Mikäli rastilla on jo joukkue, odottaa uusi ryhmä kiltisti vuoroaan
    </li>
    <li>
      Rastivahteja saa lahjoa halutessaan😉
    </li>
  </ul>
  <hr>
  <h5>Rastit sulkeutuvat klo <u>20:00</u></h5>
  <hr>
  <h4>Loppurastina on Vanha kirkkopuisto</h4>
  <h5>Tämä on auki klo <u>20-22</u></h5>
  <hr>
  <h5>Jatkoina toimii Esileikki klo 21 alkaen, tervetuloa</h5>
  <p style="margin-bottom: 0px;">Osoite: Mannerheimintie 16</p>
  <div class="col hint-div">
    <p>Akuutin hädän sattuessa soita <u>112</u> <br>
      Ei niin akuuttiin hätään, tässä on meidän numero <br> <a href="tel:050 5222855"><u>050 5222855</u></a></p>
  </div>
  <button class="main-button" style="padding: 10px; margin-top: 25px;">Anna palautetta</button>
</div>