<div [style]="styles">
  <svg height='100%' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255 255" *ngIf="type == 'logo'; else logoIcon">
    <defs>
      <style>
        .cls-12,
        .cls-5 {
          fill: none;
          stroke: #415167;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-width: 7px;
        }

        .cls-12 {
          stroke-dasharray: 35.42 35.42;
        }

        .cls-2 {
          fill: #dd0031;
        }

        .cls-3 {
          fill: #c3002f;
        }

        .cls-4 {
          fill: #fff;
        }

        .cls-5 {
          stroke-dasharray: 34;
        }
      </style>
    </defs>
    <title>loading-logo-icon</title>
    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_6" data-name="Layer 6">
        <circle class="cls-12" cx="127.5" cy="127.5" r="124">
          <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 127 127"
            to="360 127 127" dur="5s" repeatCount="indefinite"></animateTransform>
        </circle>
        <polygon class="cls-2"
          points="127.86 49.5 127.86 49.5 127.86 49.5 55.24 75.4 66.32 171.41 127.86 205.5 127.86 205.5 127.86 205.5 189.41 171.41 200.48 75.4 127.86 49.5" />
        <polygon class="cls-3"
          points="127.86 49.5 127.86 66.82 127.86 66.74 127.86 145.75 127.86 145.75 127.86 205.5 127.86 205.5 189.41 171.41 200.48 75.4 127.86 49.5" />
        <path class="cls-4"
          d="M127.86,66.74,82.47,168.53H99.39l9.13-22.78h38.53l9.13,22.78H173.1L127.86,66.74Zm13.26,65H114.6l13.26-31.9Z" />
        <circle class="cls-5" cx="128" cy="127" r="98">
          <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="360 127 127"
            to="0 127 127" dur="5s" repeatCount="indefinite"></animateTransform>
        </circle>
      </g>
    </g>
  </svg>
  <ng-template #logoIcon>
    <svg height='100%' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 266 266">
      <defs>
        <style>
          .cls-12 {
            fill: none;
            stroke: #00fc93;
            stroke-miterlimit: 10;
            stroke-width: 18px;
            stroke-linecap: round;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: dash 2s linear alternate infinite;
          }
  
          @keyframes dash {
            from {
              stroke-dashoffset: 250;
            }
  
            to {
              stroke-dashoffset: 800;
            }
          }
        </style>
      </defs>
      <title>loading-circle-icon</title>
      <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_6" data-name="Layer 6">
          <circle class="cls-12" cx="133" cy="133" r="124">
            <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="360 133 133"
              to="0 133 133" dur="1s" repeatCount="indefinite"></animateTransform>
  
  
          </circle>
        </g>
      </g>
    </svg>
  
  </ng-template>
</div>