<div class="page-holder" *ngIf="team">
  <div class="upper-section">
    <div class="title-section">
      <p class="no-margin disable-color">{{team.loginId}} {{team.internalComment ? ' - ' + team.internalComment : ''}}</p>
      <h5 class="no-margin weight-400 multiline-clamp">
        {{team.name == null ? 'Ei nimeä':team.name}} {{team.fuksiStatus ? '//Fukseja':''}}
      </h5>
    </div>
    <div class="center">
      <div class="edit-icon" (click)="switchExpanded()">
        <img [style]="{'transform':expanded?'rotate(180deg)':'none'}" height="20" src="assets/icons/arrow-down.svg"
          alt="">
      </div>
    </div>
    <div class="center">
      <h5>{{team.totalScore}}</h5>
    </div>
  </div>
  <div class="lower-section"
    [style]="{'max-height':expanded?'fit-content':'0px','border-top':expanded?'solid 1px grey':'none'}">
    <div
      style="grid-column: 1 / -1; display: grid; grid-template-columns: 1fr auto 1fr; align-items: center; padding: 10px;">

      <div style="text-align: left;" *ngIf="team.regionName">
        <h5 class="no-margin weight-400">Alue: {{team.regionName}}</h5>
      </div>
      <div></div>
      <div style="display: flex; justify-content: flex-end;">
        <div class="edit-icon" (click)="editTeam()"
          style="width: auto; padding: 0 15px; border-radius: 30px; display: flex; align-items: center; gap: 10px;">
          <p class="no-margin" style="font-weight: bold; color: white;">Muokkaa</p>
          <img src="assets/icons/pencil-edit-icon.svg" height="20" alt="Edit">
        </div>
      </div>
    </div>
    <div class="score-container" *ngFor="let bar of team.bars">
      <h5 style="justify-content: start;" class="center">{{bar.name}} {{bar.revealed ? '(-20p)':''}}</h5>
      <p>{{bar.scoreComment}}</p>
      <h5 class="center">{{bar.score}}</h5>
    </div>
    <div *ngIf="team.bonusBar" class="score-container">
      <h5 style="justify-content: start;" class="center">{{team.bonusBar.name}}</h5>
      <p>{{team.bonusBar.scoreComment}}</p>
      <h5 class="center">{{team.bonusBar.score}}</h5>
    </div>
  </div>
</div>