.center {
    display: grid;
    place-items: center;
}

.score-container {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    column-gap: 10px;
}

.page-holder {
    width: auto;
    background-color: var(--admin-white-accent);
    background: #F2FDFF;
    box-shadow: 2px 4px 15px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 35px 10px 35px 10px;
    padding: 2%;
    column-gap: 2%;
}

.upper-section {
    display: grid;
    grid-template-columns: 1fr 60px 40px;
}

.lower-section {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 10px;
    overflow: hidden;
    transition: all 0.4s ease;
}



.multiline-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.page-list {
    width: var(--admin-default-width);
    margin-bottom: 25px;
    height: 65vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.title-section {
    flex: 5;
}

.edit-icon {
    height: 60px;
    background-color: var(--admin-bc-color);
    width: 60px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.edit-icon:hover {
    background-color: var(--admin-dark-accent);
}

.center {
    display: grid;
    place-items: center;
}

.filter-button {
    margin-right: 20px;
    border-radius: 10px;
    background: var(--admin-text-dark);
    color: var(--admin-white-accent);
    padding: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {

    .edit-icon {
        transform: scale(0.5);
    }
}