.grid-holder {
    height: 67vh;
    padding: 20px;
    width: clamp(500px, 85vw, 1400px);
    background: var(--admin-text-dark);
    border-radius: 10px;
    overflow: auto;
}

.image-gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.image-holder {
    aspect-ratio: 16/9;
    display: grid;
    place-items: center;
    background: var(--admin-white-accent);
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 5px 4px 10px rgba(1, 22, 56, 0.6);
    cursor: pointer;
}

.image-name {
    position: relative;
    left: 0px;
}

.gallery-image {
    aspect-ratio: 16/9;
    height: 200px;
}

@media only screen and (max-width: 500px) {
    .grid-holder {
        width: 85vw;
    }
}