h1 {
    margin: 8px 0px;
    font-family: Karla;
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 65px;
    /* or 100% */
    letter-spacing: 0.3px;
    color: var(--admin-text-dark);
}

h2 {
    margin: 7px 0px;
    font-family: Karla;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    /* identical to box height, or 64% */
    letter-spacing: 0.3px;
    color: var(--admin-text-dark);
}

h3 {
    margin: 6px 0px;
    font-family: Karla;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    /* identical to box height, or 73% */
    letter-spacing: 0.2px;
    color: var(--admin-text-dark);
}

h4 {
    margin: 5px 0px;
    /* H4 */
    font-family: Karla;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height, or 100% */
    letter-spacing: 0.2px;
    color: var(--admin-text-dark);
}

h5 {
    /* H4 */
    margin: 5px 0px;
    font-family: Karla;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(20px, 3vw, 25px);
    line-height: 32px;
    /* identical to box height, or 100% */
    letter-spacing: 0.2px;
    color: var(--admin-text-dark);
}

p, span, li, label {
    /* Body 1 */
    font-family: Karla;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(15px, 2vw, 19px);
    line-height: 22px;
    margin-top: 3px;
    margin-bottom: 3px;
    /* identical to box height, or 133% */
    letter-spacing: 0.2px;
    color: var(--admin-text-dark);
}

.white-text {
    color: var(--admin-white-accent);
}

.disable-color {
    color: var(--admin-disabled-color)
}

.green-color {
    fill: var(--admin-success-color);
}

.admin-page-container {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

hr {
    border: none;
    margin: 25px auto;
    height: 2px;
    width: 95%;
    background: var(--admin-dark-accent);
}

.bottom-fixed-button {
    position: fixed;
    right: clamp(20px, 5vw, 50px);
    bottom: clamp(25px, 4vw, 50px);
    background-color: var(--admin-dark-accent);
    width: clamp(70px, 5vw, 110px);
    height: clamp(70px, 5vw, 110px);
    border-radius: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.bottom-fixed-button:hover {
    background-color: var(--admin-dark-accent-hover);
}

input[type=text], input[type=date] {
    border: none;
    background: var(--admin-white-accent);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: clamp(43px, 6vh, 53px);
    color: var(--admin-dark-accent);
    font-family: Karla;
    font-size: clamp(20px, 2vw, 30px);
    padding: 0px 10px;
}

.file-input-holder {
    background: var(--admin-bc-color);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: clamp(43px, 6vh, 53px);
    display: grid;
    place-items: center;
    margin: auto;
}

input[type=file] {
    border: none;
    color: var(--admin-white-accent);
    font-family: Karla;
    font-size: clamp(20px, 2vw, 30px);
    padding: 0px 10px;
}

.custom-scroll {
    scrollbar-color: var(--admin-dark-accent) var(--admin-text-dark);
    scrollbar-width: thin;
}

.custom-scroll::-webkit-scrollbar {
    width: 0.25rem
}

.custom-scroll::-webkit-scrollbar-track {
    background: var(--admin-text-dark);
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: var(--admin-dark-accent);
}

input[type=submit] {
    border: none;
    background: var(--admin-success-color);
    width: 130px;
    height: 50px;
    font-family: Karla;
    color: var(--admin-dark-accent);
    font-size: 22px;
    border-radius: 18px;
    cursor: pointer;
}

.overlay-window {
    border: 2px solid var(--admin-dark-accent);
    background-color: var(--admin-white-accent);
    width: clamp(350px, 70%, 1000px);
    padding: 2vh 0px;
}

.overlay-hidden {
    transform: translate(-50%, 100vh);
}

.overlay-mask {
    transform: translate(-50%, -20%);
    position: fixed;
    width: 300vw;
    height: 500vh;
    display: none;
    z-index: 1;
}

.button-fixed-width {
    border: none;
    width: 130px;
    height: 50px;
    font-family: Karla;
    color: var(--admin-white-accent);
    font-size: clamp(16px, 2vw, 22px);
    border-radius: 18px;
    cursor: pointer;
    transition: background 0.2s ease;
    display: grid;
    place-items: center;
}

.button-fixed-width {
    background: var(--admin-dark-accent);
    
}

.button-fixed-width:hover {
    background: var(--admin-dark-accent-hover);
}

.red-button {
    background: var(--admin-error-color);
}

.red-button:hover {
    background: var(--admin-error-color-hover);
}

.green-button {
    background: var(--admin-success-color);
    color: var(--admin-dark-accent);
}

.green-button:hover {
    background: var(--admin-success-color-hover);
}

.dark-button {
    background: var(--admin-dark-accent);
}

.dark-button:hover {
    background: var(--admin-dark-accent-hover);
}

.button-auto-width {
    width: auto;
    padding: 0px clamp(12px, 1vw, 22px);
}

.data-edit-container {
    display: grid;
    gap: 20px;
}

/* Sliders */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--admin-disabled-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--admin-dark-accent-hover);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--admin-dark-accent-hover);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.inline {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .admin-page-container {
        padding-bottom: 100px;
    }
}