<div class="overlay-window overlay-hidden" id="add-image">
  <h4 class="weight-400 no-margin" style="margin-bottom: 3vh;">ADD PAGE</h4>
  <form (ngSubmit)="onSubmit($event)" style="width: 90%;">
    <div class="input-container">
      <div class="file-input-holder"
        [ngStyle]="{'background':'linear-gradient(to right, var(--admin-success-color)'+uploadPrecentage+'%,var(--admin-bc-color) 0%)'}">
        <input style="width: 90%;" type="file" name="file" placeholder="File">
      </div>
      <div style="display: grid; place-items: center; margin-top: 3vh;">
        <input type="submit" value="Save">
      </div>
    </div>
  </form>
</div>
<div id="pop-form-overlay" class="overlay-mask" (click)="hideAddPage()">

</div>