.video-comp-container {
    width: var(--content-normal-width);
    margin: auto;
    padding: clamp(20px, 5%, 40px) 0px;
}

.content-video-holder {
    display: grid;
    margin-top: 5%;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    place-items: center;
}

.video-container {
    aspect-ratio: 16/9;
    width: 100%;
}

.video-only{

}

@media only screen and (max-width: 600px) {
    .video-container {
        margin-top: 20px;
    }
}