.navigation-menu {
    display: grid;
    place-items: end;
    margin: auto;
    width: var(--content-normal-width);
    height: 0px;
    position: relative;
    top: 100px;
    transition: all 0.5s linear;
}

.right-sticky {
    position: sticky;
    top: 5%;
}

.left-sticky {
    position: sticky;
    top: 5%;
}

.right-side {
    place-items: start;
    margin-right: auto;
}

.menu-container {
    max-width: 300px;
    background: var(--frontend-background-transparent);
    border-radius: 10px;
    padding: 10px;
}


@media only screen and (max-width: 1600px) {
    .navigation-menu {
        display: none;
    }
}