.notification-holder {
    bottom: 140px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    padding: 0px 20px;
    background: var(--admin-success-color);
    border-radius: 19px;
    display: grid;
    place-items: center;
    transition: all 0.3s;
    z-index: 9999;
}

@media only screen and (max-width: 500px) {
    .notification-holder {
        width: 70%;
        height: auto;
    }
}