<div class="overlay-window overlay-hidden" id="view-image" *ngIf="image">
  <h3>{{image.name}}</h3>
  <div
    [style]="{'background-image':'url('+image.url+')','background-size':'contain','background-repeat':'no-repeat','background-position':'center','width':'clamp(340px, 70%, 1000px)','aspect-ratio':'16/9'}">
  </div>
  <div>
    <button style="margin-top: 15px; margin-right: 30px;" class="button-fixed-width red-button"
      (click)="deleteImage()">DELETE</button>
    <button style="margin-top: 15px;" class="button-fixed-width green-button" (click)="copyUrl()">COPY URL</button>
  </div>
</div>
<div id="view-image-overlay" class="overlay-mask" (click)="hideImageView()">

</div>