:root {
    --admin-bc-color: #487974;
    --admin-dark-accent: hsl(160, 96%, 11%);
    --admin-dark-accent-hover: hsl(160, 96%, 20%);
    --admin-text-dark: #415167;
    --admin-white-accent: #F2FDFF;
    --admin-disabled-color: #9AA7B3;
    --admin-success-color: #6EEB83;
    --admin-success-color-hover: #57c569;
    --admin-error-color: hsl(0, 99%, 64%);
    --admin-error-color-hover: hsl(0, 99%, 54%);
    --admin-warning-color: #FFC759;
    --admin-default-width: clamp(340px, 80vw, 900px);
    /* frontend variables*/
    --frontend-white-color: #FFFFFF;
    --frontend-background-color: rgb(2, 92, 2);

    --frontend-background-color-darker: rgb(2, 60, 2);
    --frontend-background-transparent: rgba(36, 38, 85, 0.5);
    --frontend-button-color: #00C880;
    --frontend-button-hover: #0fa56e;
    --frontend-error-color: hsl(0, 99%, 64%);
    --frontend-error-color-hover: hsl(0, 99%, 54%);
    --frontend-warning-color: #FFC759;
    --frontend-warning-color-hover: #d0780b;
    --frontend-brown-color: #D07047;
    --frontend-inactive-color: rgba(250, 236, 203, 0.5);
    --frontend-regularFontFamily: Karla;
    --frontend-headingFontFamily: Karla;
    --frontend-buttonFontWeight: 500;
    --frontend-headingFontWeight: 700;
    /*content max and min values*/
    --content-max-width: 1000px;
    --content-min-width: 300px;
    --content-normal-width: clamp(var(--content-min-width), 65vw, var(--content-max-width));
    --content-padding: 100px 0px
}

@media only screen and (max-width: 600px) {
    :root {
        --content-normal-width: 90%;
    }
}

main {
    background-color: var(--frontend-background-color);
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-image: url('./assets/icons/HTO_background_oldstyle.svg');
    background-size: 1406px;
    background-position: center;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: Karla;
    src: url(assets/fonts/Karla-VariableFont.ttf) format("opentype");
}

@font-face {
    font-family: PoppinsMedium;
    src: url(assets/fonts/Poppins-Medium.ttf) format("opentype");
}

@font-face {
    font-family: PoppinsBold;
    src: url(assets/fonts/Poppins-Bold.ttf) format("opentype");
}

.angular-editor-textarea {
    background: var(--admin-white-accent) !important;
    border-radius: 10px;
}

.no-margin {
    margin: 0px;
}

.margin-auto {
    margin: auto;
}

.small-vertical-margin {
    margin: 10px 0px;
}

.small-horizontal-margin {
    margin: 0px 10px;
}

.weight-400 {
    font-weight: 400 !important;
}

.no-wrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.white-text {
    color: var(--frontend-white-color);
}

.blue-text {
    color: var(--frontend-background-transparent);
}

h1 {
    --h1-font-size: clamp(34px, 6vw, 58px);
    font-family: var(--frontend-headingFontFamily);
    font-size: var(--h1-font-size);
    font-weight: lighter;
    color: var(--frontend-white-color);
    margin: 5px 0px;
}

h2 {
    --h2-font-size: clamp(31px, 5vw, 55px);
    font-family: var(--frontend-headingFontFamily);
    font-size: var(--h2-font-size);
    font-weight: lighter;
    color: var(--frontend-white-color);
    margin: 5px 0px;
}

h3 {
    --h3-font-size: clamp(27px, 5vw, 40px);
    font-family: var(--frontend-headingFontFamily);
    font-size: var(--h3-font-size);
    font-weight: lighter;
    color: var(--frontend-white-color);
    margin: 5px 0px;
}

h4 {
    --h4-font-size: clamp(22px, 4vw, 30px);
    font-family: var(--frontend-headingFontFamily);
    font-size: var(--h4-font-size);
    font-weight: lighter;
    color: var(--frontend-white-color);
    margin: 5px 0px;
}

h5 {
    --h5-font-size: clamp(20px, 3vw, 25px);
    font-family: var(--frontend-headingFontFamily);
    font-size: var(--h5-font-size);
    font-weight: lighter;
    color: var(--frontend-white-color);
    margin: 5px 0px;
}

p {
    font-family: var(--frontend-regularFontFamily);
    font-size: clamp(17px, 2vw, 20px);
    color: var(--frontend-white-color);
    margin: 5px 0px;
}

ul, li {
    font-family: var(--frontend-regularFontFamily);
    color: white;
    font-size: clamp(17px, 2vw, 20px);
}

.small-text {
    font-size: clamp(15px, 2vw, 17px);
}

label {
    font-family: var(--frontend-regularFontFamily);
    font-size: clamp(19px, 2vw, 22px);
    color: var(--frontend-white-color);
}

a {
    font-family: var(--frontend-regularFontFamily);
    font-weight: 500;
    color: var(--frontend-white-color);
}

.main-fixed-button {
    border: none;
    background-color: var(--frontend-button-color);
    width: 130px;
    height: 40px;
    font-family: var(--frontend-regularFontFamily);
    font-size: 130%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.main-button {
    border: none;
    background-color: var(--frontend-button-color);
    font-family: var(--frontend-regularFontFamily);
    padding: 5px;
    border-radius: 10px;
    font-size: 150%;
    display: inline-block;
    cursor: pointer;
    transition: all 0.4s ease;
}

.main-button:hover {
    background-color: var(--frontend-button-hover);
}

.main-fixed-button:hover {
    background-color: var(--frontend-button-hover);
}

.red-button {
    background-color: var(--frontend-error-color);
}

.red-button:hover {
    background-color: var(--frontend-error-color-hover);
}

.yellow-button {
    background-color: var(--frontend-warning-color);
}

.yellow-button:hover {
    background-color: var(--frontend-warning-color-hover);
}

.content-max-width {
    max-width: 1300px;
    margin: auto;
}

.content-compact-width {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.default-padding {
    padding: 50px 0px;
}

.angular-editor-textarea * {
    color: black !important;
    font-family: var(--frontend-regularFontFamily);
}

.article-image {
    width: 100%;
}

.tiny-text {
    font-size: 15px;
}

hr {
    margin: auto;
    max-width: var(--content-max-width);
}

.overlay-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--frontend-background-color-darker);
    width: clamp(350px, 70%, 1000px);
    display: grid;
    place-items: center;
    padding: 2vh 0px;
    border-radius: 10px;
    transition: all 0.3s ease;
    z-index: 3;
}

.overlay-hidden {
    transform: translate(-50%, 100vh);
}

.overlay-mask {
    transform: translate(-50%, -20%);
    position: fixed;
    width: 300vw;
    height: 2000vh;
    display: none;
    z-index: 1;
    background: #000000a1;
}