<div class="overlay-window overlay-hidden" id="team-name">
  <div *ngIf="!compLoading; else loading" style="text-align: center; padding: 20px;">
    <h3 class="weight-400 no-margin" style="margin-bottom: 3vh;">Tiimin tiedot</h3>
    <p class="tiny-text" style="text-align: center;">Kisan tavoitteena on selvittää vihjeet ja suorittaa rastit
      baareista.<br> Ensin pari perustietoa</p>
    <div class="input-holder">
      <input class="point-input" type="text" placeholder="Tiimin nimi" name="score" [(ngModel)]="teamName">
      <button (click)="updateTeamName()" class="fuksi-button main-button">Lähetä</button>
    </div>
  </div>
</div>
<div id="hide-team-name" class="overlay-mask" (click)="hideAddPage()">
  <ng-template #loading>
    <frontend-loading [size]="200"></frontend-loading>
  </ng-template>
</div>